<mat-card>
  <mat-card-title>
    CREAR CURSO
  </mat-card-title>

<div class="container-fluid">
<form [formGroup]="formCurso">
<div class="form-row">
    <div class="form-group col-md-3">
      <label for="nombre_curso">Nombre del curso:</label>
      <input  type="text" class="form-control" id="nombre_curso"
              formControlName="nombre_curso" placeholder="nombre">
    </div>
    <br>
    <div class="form-group col-md-3">
      <label for="docente">Docente :</label>
      <input  type="text" class="form-control" id="docente"
              formControlName="docente" placeholder="docente">
    </div>
    <br>
    
    <div class="form-group col-md-3">
      <label for="fecha_inicio">Fecha inicio:</label>
      <input type="date" class="form-control" id="fecha_inicio"
             formControlName="fecha_inicio" placeholder="fecha inicio">
    </div>
    <br>

    <div class="form-group col-md-3">
      <label for="fecha_fin">Fecha fin:</label>
      <input type="date" class="form-control" id="fecha_fin"
             formControlName="fecha_fin" placeholder="fecha 
             fin">
    </div>
    <br>
    <div class="form-group col-md-3">
      <label for="horario">Horario</label>
      <input type="text" class="form-control" id="horario" formControlName="horario"
             placeholder="horario" >
    </div>
    <br>
    <div class="form-group col-md-3">
      <label for="estado">Estado:</label>
      <br>
      <select namr="Estados" id="estado">
      <option value="activo">activo</option>
      <option value="completado">completado</option>
      <option value="finalizado">finalizado</option>
    </select>
    
    </div>
    
    <br>
  </div>
  <br>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="btn" (click)='create()'>GUARDAR CURSO</button>
    <br>
    <br>
    <button mat-raised-button color="primary" class="btn" >CARGAR DOCUMENTOS</button>
    <ng-template #elseBlock> 
    <button mat-raised-button color="primary" class="btn">ACTUALIZAR</button>
    <br>
   
  </ng-template>
  </mat-card-actions>
<br>
</form>
</div>

</mat-card>
