<div class="container">
    <div class="row">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="planificacion">Planificacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lista">Lista de Cursos</a>
        </li>
        
      </ul>
    </div>
  
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  
 


