<p>CURSOS APECS</p>
<div class="container-fluid">
   
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre del curso:</label>
      <input  type="text" class="form-control" id="nombre"
              formControlName="nombre" placeholder="Nombre">
    </div>
    <br>
    <div class="form-group col-md-3">
      <label for="docente">Docente :</label>
      <input  type="text" class="form-control" id="Docente"
              formControlName="Docente" placeholder="Docente">
    </div>
    <br>
    
    <div class="form-group col-md-3">
      <label for="Finicio">Fecha inicio:</label>
      <input type="date" class="form-control" id="Finicio"
             formControlName="Finicio" placeholder="Finicio">
    </div>
    <br>

    <div class="form-group col-md-3">
      <label for="Ffin">Fecha fin:</label>
      <input type="date" class="form-control" id="Ffin"
             formControlName="Ffin" placeholder="Ffin">
    </div>
    <br>
    <div class="form-group col-md-3">
      <label for="horario">Horario</label>
      <input type="text" class="form-control" id="horario" formControlName="horario"
             placeholder="horario" >
    </div>
    <br>
    <div class="form-group col-md-3">
      <label for="estado">Estado:</label>
      <select namr="Estados" id="estado">
      <option value="activo">activo</option>
      <option value="completado">compleado</option>
      <option value="finalizado">finalizado</option>
    </select>
      <input type="submit" value="Enviar">
    </div>
    
    <br>
  </div>
  <br>
  
    <button mat-raised-button color="primary" class="btn" >GUARDAR CURSO</button>
    
    <button mat-raised-button color="primary" class="btn" routerLink="/lista-cliente">LISTA</button>
    <br>
    <br>
    <button mat-raised-button color="primary" class="btn" >CARGAR DOCUMENTOS</button>
    <ng-template #elseBlock> 
    <button mat-raised-button color="primary" class="btn">ACTUALIZAR</button>
    <br>
   
  </ng-template>
<br>
  
<div>

<router-outlet></router-outlet>
